<div class="bootstrap-wrapper text-center mt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 style="border: 1px dashed black;">Reset Password</h1>
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="full-width">
                        <mat-label>New Password</mat-label>
                        <input formControlName="newPwd" [type]="hide ? 'password' : 'text'" matInput>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="formCtrl.newPwd.invalid && formCtrl.newPwd.touched">
                            <span *ngIf="formCtrl.newPwd.errors.required">Password is required</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Confirm New Password</mat-label>
                        <input formControlName="confirmPwd" type="password" matInput>
                        <mat-error *ngIf="formCtrl.confirmPwd.invalid && formCtrl.confirmPwd.touched">
                            <span *ngIf="formCtrl.confirmPwd.errors.required">Confirm Password is required</span>
                            <span *ngIf="formCtrl.confirmPwd.errors.passwordMismatch">Passwords do not match</span>
                        </mat-error>
                    </mat-form-field>

                    <button type="submit" mat-raised-button color="primary"
                        [disabled]="resetForm.invalid">Submit</button>
                    <button type="reset" mat-stroked-button color="primary" style="margin-left: 10px;">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>