<mat-card class="mt 10" style="font-weight: bold;">
    <mat-card-header>
        <mat-card-title style="color: red;">404 - Page Not Found</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
        </p>
    </mat-card-content>
    <mat-card-actions class="mt 5">
        <button mat-raised-button color="warn" routerLink="/">Go to Home</button>
    </mat-card-actions>
</mat-card>