<div class="container">
    <h3 style="font-weight: bold;">Your Details</h3>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p><strong>Admin Id:</strong> {{ admin.adminid }}</p>
            <p><strong>Name:</strong> {{ admin.name }}</p>
            <p><strong>Address:</strong> {{ admin.address }}</p>
          </div>
          <div class="col-md-6">
            <p><strong>City:</strong> {{ admin.city }}</p>
            <p><strong>Contact:</strong> {{ admin.contact }}</p>
            <p><strong>Gender:</strong> {{ admin.gender }}</p>
            <p><strong>Pin Code:</strong> {{ admin.pinCode }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

