<div class="container text-center mt-5">
    <h2>Welcome to Admin Dashboard</h2>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 mb-3">
            <a mat-raised-button color="primary" routerLink="/admin-dashboard/view-admin-profile">View Profile</a>
        </div>
        <div class="col-md-4 mb-3">
            <a mat-raised-button color="primary" routerLink="/admin-dashboard/view-all-students">View All Students</a>
        </div>
    </div>
    <div class="mt-4">
        <router-outlet></router-outlet>
    </div>
</div>