<div class="bootstrap-wrapper text-center mt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 style="border: 1px dashed black;">Forgot Password</h1>
                <form novalidate #formData="ngForm" (ngSubmit)="onSubmit(formData)">

                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input required #email="ngModel" name="email" type="text" [pattern]="emailPattern" matInput
                            ngModel>
                        <mat-error *ngIf="email.touched && email.invalid">
                            <span *ngIf="email.errors && email.errors['required']">Email is required</span>
                            <span *ngIf="email.errors && email.errors['pattern']">Invalid email format</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Date Of Birth</mat-label>
                        <input required #dob="ngModel" name="dob" [matDatepicker]="picker" matInput ngModel>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="dob.touched && dob.invalid">
                            <span *ngIf="dob.errors && dob.errors['required']">Date of Birth is required</span>
                        </mat-error>
                    </mat-form-field>

                    <button type="submit" mat-raised-button color="primary"
                        [disabled]="isFormDataValid(formData)">Submit</button>
                    <button type="reset" mat-stroked-button color="primary" style="margin-left: 10px;">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>